body {
background:linear-gradient(to bottom,black,white);
background-repeat:no-repeat;
background-size:cover;
background-attachment:fixed;
}
.a a {
color:white;
text-decoration:none;
}
h6 {
font-size:30px;
padding:5px 10px;
text-transform:uppercase;

}
h5 {
font-size:15px;
text-transform:uppercase;
padding:0px 10px;
font-weight:bold;
}
nav {
padding:10px 10px;
font-weight:bold;

}
* {
margin:0%;
}
h1 {
text-transform:uppercase;
text-align:center;
color:red;
font-size:40px;
}
.b{
font-size:30px;
color:white;

}

h2 {
font-size:40px;
color:red;
padding-left:20px;
}

.c {
font-size:30px;
 
}
footer {
text-align:center;
font-size:20px;
color:white;
float:bottom;
padding:10px 50px;
border:2px solid red;
text-decoration:none;
background-color:black;

}
aside {
float:right;
width:50%;
text-transform:normal;
}
h4 {
font-size:30px;
text-transform:uppercase;
color:red;
}

p {
font-size:30px;
text-transform:normal;
}
.abc {
color:red;
}
.abcd {
float:center;
width:0.7em;
font-size:30px;
line-height:80%;
}
footer a {
color:red;


}
.def {
width:0.7em;
font-size:30px;
}

h5 a:hover{
background-color:white;
color:black;
}
h6 a:hover{
background-color:white;
color:black;
}



