#home {
background-image:url('ab.jpg');
background-attachment:fixed;
background-repeat:no-repeat;
background-size:cover;
width:100%;
height:100vh;
}
div {
align-items:center;
color:white;
}
li {
color:white;
padding:2px;
}
ul {
color:white;
}
nav {
width:100%;
height:90px;
line-height:0px;
padding:0px 5px;
position:fixed;
background:linear-gradient(to right,seablue,white);
}
 nav .arbaaz {
text-align:left;
font-size:30px;
font-weight:bold;
color:white;
text-transform:uppercase;
cursor:pointer;
padding:10px 10px;
float:left;
}
nav ul {
float:right;
}
nav li {
display:inline-block;
list-style:none;
padding:50px 20px;
text-transform:uppercase;
float:left;
line-height:auto;
font-size:20px;
text-decoration:none;
}
li a {
display:inline-block;
color:black;
text-decoration:none;
}
h5 {
color:white;
padding:0px 10px;
font-size:15px;
}
p {
font-size:30px;
text-align:center;
padding:30px 10px;

}
* {
margin:0%;
}
.op {
padding:100px 100px;
font-family:algerian;
color:red;
}
.arbaaz a {
color:white;
text-decoration:none;
}

li a:hover {
background-color:black;
color:rgb(255, 255, 14);
}
.arbaaz a:hover {
color:darkblue;
}
nav a:hover:{
background-color:black;
color:white;
}





.b {
float:left;
width:30.33%;
padding:10px;
}
.a::after{
display:table;
clear:both;
padding-left:20px;
background-color:red;
border:2px solid black;
}
.u {
height:600px;
}
.ar {
height:500px;
}

.o {
background-color:red;
}

h1 {
color:white;
text-align:center;
}

.bc {
height:500px;
}



h6 {
font-size:30px;
text-align:left;
padding-top:250px;
color:yellow;
}


.ui {
padding-top:10px;
color:white;
text-align:left;
padding-top:20px;
}

footer {
flaot:left;
border:2px solid black;
background-color:black;
border-radius:20px;
}

.rt {
text-align:left;
}
.ty {
float:right;
font-size:30px;
padding-right:20x;
padding-top:10px;
}
.ww {
color:white;
font:size:30px;
text-align:center;
padding-left:100px;
}

.gh {
border:2px solid black;
}
aside {
color:skyblue;
}

img {
boder:2px solid black;
border-radius:15px;
}




.b:hover img {
transform:scale(1.2);
}
.b img {
transation:transform 2s;
}

.pq:hover img {
transform:scale(1.2)
}



